.inputBuscar{
  width: 50% !important;
}

.containerInput{
  align-items: end;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}
.containerInput input{
  border: 1px solid #4AA63C !important;
}
.containerInput input:focus {
  box-shadow: 0 0 5px rgba(74, 166, 60, 0.5) !important; /* Cambia la sombra al enfocar */
}

@media (max-width: 988px){
  
  .inputBuscar{
    width: 50% !important;
  }

  .App{
    padding: 40px 5px;
  }

  
.containerInput{
  padding-bottom: 15px;
}

}